@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  font-family: "Nunito", sans-serif !important;
}

.item-list {
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #4f545e;
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container {
  margin: 1rem auto;
}

.admin-panel {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.items {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 2rem;
  background-color: #f4f6f8;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .item-container {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 10px 0;
  text-decoration: none;
  color: #4f545e;
  width: 100%;
}

.item .item-container .item-text {
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.item .item-container:hover {
  color: #4f545e;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.label {
  color: #aaabad;
  font-weight: 500;
  font-size: medium;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.profile-rounded-image {
  border-radius: 50px;
}

.square-image {
  width: 300px;
  height: 150px;
}

.line {
  background-color: #e5e9ec;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
select {
  width: 350px;
  border: 1px solid #e5e9ec;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3b3b3b;
}

input:focus,
select:focus {
  outline: none;
}

.multiple-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-primary {
  background-color: #795fcd !important;
  border: #795fcd !important;
}

.btn-primary:hover {
  background-color: #6444ce !important;
}

.btn-primary:active {
  background-color: #6444ce !important;
}

.btn-primary:visited {
  background-color: #6444ce !important;
}

.error-message {
  color: #ff1a4a;
}

.login-register-container {
  max-width: 30rem;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.update-container .update {
  width: 350px;
  height: 100px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.update-container .update-admin {
  background-color: #ffefe2;
}

.update-container .update-admin:hover {
  background-color: #f1ceb1;
}

.update-container .update-student {
  background-color: #e6f5f9;
  margin: 0 4rem;
}

.update-container .update-student:hover {
  background-color: #abe8f8;
}

.update-container .update-driver {
  background-color: #c8f8d0;
}

.update-container .update-driver:hover {
  background-color: #95ffa6;
}

.update-container .update-bus {
  margin: 0 4rem;
  background-color: #ebffbc;
}

.update-container .update-bus:hover {
  background-color: #dbff85;
}

.update-container .update p {
  color: #4f545e;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid rgba(79, 84, 94, 0.1);
  padding: 20px 0;
  background-color: #795fcd;
  height: 100%;
}

.sidebar .image-container {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;
}

.sidebar .admin-name {
  font-weight: 500;
  color: #ffffff;
}

.sidebar .admin-designation {
  color: #ffffff;
  font-weight: 400;
}

.sidebar .side-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.sidebar .side-items .side-item {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .side-items .side-item .item-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 1px;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .side-items .side-item .item-text:hover {
  color: #e2ebe8;
}

.sidebar .side-items .side-item::before {
  content: "";
  display: inline-block;
  height: 25px;
  background-color: #ffffff;
  width: 2px;
  margin-right: 20px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .side-items .side-item:hover::before {
  opacity: 1;
}

.sidebar .side-items:last-of-type {
  margin-top: auto;
}

.admin {
  padding: 2rem;
  height: 100%;
}

.admin .admin-details {
  margin-left: 40px;
}

.admin .admin-details h5 {
  margin: 0;
}

.admin .admin-details h6 {
  margin: 0;
}

.items .image-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .image-container .profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.items .image-flex-start {
  margin-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.items .items-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
}

.items .items-details .right-item {
  width: 400px;
}

.items .button {
  width: 100%;
  margin: 10px auto;
}

.login-register-container .logo {
  width: 100px;
  height: 120px;
  margin: 20px 0;
}

.login-register-container .sign-in-text {
  font-weight: 700;
}

.login-register-container .input {
  margin: 10px 0;
}

.login-register-container .button {
  width: 22rem;
  margin: 10px 0;
}

.login-register-container .forgot-password {
  margin-top: 10px;
  cursor: pointer;
}

.login-register-container .forgot-password:hover {
  color: #979797;
}

.container-fluid {
  margin: 0 !important;
  width: 100% !important;
  overflow: hidden;
  padding: 0px 40px !important;
  height: 100vh !important;
  background-color: #f5f7fb;
}

.container-fluid .chat-system {
  height: 80%;
}

.container-fluid .chat-system .chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 10px;
}

.container-fluid .chat-system .chat-container .message-container {
  background: white;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.container-fluid .chat-system .chat-container .message-container .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.container-fluid .chat-system .chat-container .message-container .message-header .user-details {
  margin-left: 20px;
}

.container-fluid .chat-system .chat-container .message-container .message-header .user-details .name {
  font-weight: 700;
}

.container-fluid .chat-system .chat-container .message-container .messages {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-fluid .chat-system .chat-container .message-container .messages::-webkit-scrollbar {
  display: none;
}

.container-fluid .chat-system .chat-container .message-container .messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0 !important;
  padding: 0 10px;
}

.container-fluid .chat-system .chat-container .message-container .messages .message-text {
  background-color: #f5f7fb;
  max-width: 400px;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  margin: 20px auto;
}

.container-fluid .chat-system .chat-container .message-container .messages .message-text-own {
  border-radius: 10px 0px 10px 10px;
  background-color: #795fcd;
  color: white;
}

.container-fluid .chat-system .chat-container .message-container .messages .message-own {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-fluid .chat-system .chat-container .message-container .send-message-container {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.container-fluid .chat-system .chat-container .message-container .send-message-container .messages-input {
  width: 48rem;
  border-radius: 20px;
  height: 40px;
  padding-left: 25px;
}

.container-fluid .chat-system .chat-container .people-container {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-fluid .chat-system .chat-container .people-container::-webkit-scrollbar {
  display: none;
}

.container-fluid .chat-system .chat-container .people-container .people-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container-fluid .chat-system .chat-container .people-container .people-details:hover {
  background-color: #f5f7fb;
}

.container-fluid .chat-system .chat-container .people-container .people-details .user-details {
  margin-left: 20px;
  width: 100%;
}

.container-fluid .chat-system .chat-container .people-container .people-details .user-details .name {
  font-weight: 700;
}

.container-fluid .chat-system .chat-container .people-container .people-details .user-details .line {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */